# Python
__pycache__/
*.pyc
.venv/
.env
.ipynb_checkpoints/
build/
*.o
*.so
*.a
*.root
*.pcm
*.npz
*.joblib
*.pkl
*.pt
*.pth
*.h5
data/*
!data/README.md
!data/samples/**
models/**
results/**
.vscode/
.idea/
*.log
